name: Ansible Provisioning

on:
  push:
    branches: [main]

permissions: {}

jobs:
  ansible:
    uses: fullstack-pw/pipelines/.github/workflows/ansible.yml@main
    secrets: inherit # pragma: allowlist secret
