name: Build Docker Images

on:
  push:
    branches: [main]
    paths: ["**/Dockerfile"]
  pull_request:
    branches: [main]
    paths: ["**/Dockerfile"]
  workflow_dispatch:

permissions: {}

jobs:
  build:
    uses: fullstack-pw/pipelines/.github/workflows/build-changed-dockerfiles.yml@main
    secrets: inherit # pragma: allowlist secret
