name: Conventional Commits

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, edited]

jobs:
  check:
    uses: fullstack-pw/pipelines/.github/workflows/conventional-commits.yml@main
    secrets: inherit # pragma: allowlist secret
