name: OpenTofu

on:
  pull_request:
    branches:
      - main
    paths:
      - "clusters/**"
      - "secrets/**"
      - ".github/workflows/opentofu.yml"
  push:
    branches:
      - main
    paths:
      - "clusters/**"
      - "secrets/**"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  opentofu:
    uses: fullstack-pw/pipelines/.github/workflows/opentofu-infra.yml@main
    secrets: inherit # pragma: allowlist secret
