name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    uses: fullstack-pw/pipelines/.github/workflows/release.yml@main
    secrets: inherit # pragma: allowlist secret
